<div layout="column" class="md-padding">
    <span class="md-headline">Aksara Jawa</span>
    <p>Dibawah ini adalah tulisan aksara jawa <i>nglegena</i> yang bermakna sekedar digunakan dalam menulis huruf-huruf vokal saja/ huruf hidup yang dalam bahasa jawa disebut huruf <i>urip / carakan</i>.</p>
    <img src="materi/aksara/hana.png" alt="Aksara Jawa">
    <br /><md-divider></md-divider><br />
    <h2 class="md-headline">Pasangan</h2>
    <img src="materi/aksara/pasangan.png" alt="Pasangan">
    
    <h2 class="md-headline">Sandangan (Tanda Baca)</h2>
    <img src="materi/aksara/tanda.png" alt="Sandangan">
    
    <h2 class="md-headline">Aksara Swara</h2>
    <p><strong>Aksara Swara</strong> adalah aksara yang digunakan untuk huruf awal penulisan nama kota dan nama orang yang dihormati.</p>
    <img src="materi/aksara/swara.png" alt="Aksara Swara">
    
    <h2 class="md-headline">Aksara Rekan</h2>
    <p><strong>Aksara Rekan</strong> adalah aksara yang digunakan untuk penulisan huruf yang berasal dari serapan bahasa arab/asing.</p>
    <img src="materi/aksara/rekan.png" alt="Aksara Rekan">
    
    <h2 class="md-headline">Aksara Murdha</h2>
    <p><strong>Aksara Murdha</strong> adalah aksara yang digunakan untuk huruf awal penulisan nama kota dan nama orang yang dihormati.</p>
    <img src="materi/aksara/murdha.png" alt="Aksara Murdha">
    
    <h2 class="md-headline">Pasangan Aksara Murdha</h2>
    <img src="materi/aksara/pasanganmurdha.png" alt="Pasangan Aksara Murdha">
    
    <h2 class="md-headline">Angka / Wildangan</h2>
    <img src="materi/aksara/angka.png" alt="Angka">
    
    
</div>