<div layout="column" class="md-padding">
    <section layout="row" flex style="padding-bottom:20px">
            <md-autocomplete
              md-selected-item="selectedItem"
              md-search-text-change="searchTextChange(searchText)"
              md-search-text="searchText"
              md-selected-item-change="selectedItemChange(item)"
              md-items="item in querySearch(searchText)"
              md-item-text="item.field1"
              md-min-length="0"
              placeholder="Cari disini"
              md-menu-class="autocomplete-custom-template" flex>
            <md-item-template>
              <span class="item-title">
                <span style="text-transform: capitalize;"><strong>{{item.field1}}</strong> >< </span>
              </span>
              <span class="item-metadata">
                <span class="item-metastat">
                  <strong  style="text-transform: capitalize;">{{item.field2}}</strong>
                </span>
              </span>
            </md-item-template>
          </md-autocomplete>
        </section>
    <table style="width: 100%;">
        <tbody>
            <tr ng-repeat="item in kosokbalen" style="margin:5px 0px">
                <td style="text-transform: capitalize;padding-bottom: 8px;width:45%;">{{item.field1}}</td>
                <td style="width:10%">><</td>
                <td style="text-transform: capitalize;width:45%;text-align:right;padding-bottom: 8px;padding-left: 5px;">{{item.field2}}</td>
            </tr>
        </tbody>
    </table>
</div>