<div layout="column" class="md-padding" >
    
    <div id="paribasanContent">
    <div id="A">
    
    <span class="md-display-1">A</span><br />
    <br />
    <span style="font-weight: bold;">- Adhang-adhang tetese embun :</span>
	<span style="font-style: italic;"><br style="" />njagakake barang mung sak oleh-olehe</span>
	<br />
	<span style="">Berharap sesuatu dengan hasil apa adanya. Seperti berharap pada tetes embun.</span><br />
	<br />
    <span style="font-weight: bold;">- Adigang, adigung, adiguna :</span><br />
	<span style="font-style: italic;">ngendelake kekuwatane, kaluhurane lan kepinteran</span><br />
	<span style="">Mengandalkan kekuatan, kekuasaan dan kepintarannya. Ungkapan ini biasanya ditujukan pada orang yang sok.</span><br />
	<br />
    <span style="font-weight: bold;">- Aji godhong garing (aking) :</span><br />
	<span style="font-style: italic;">wis ora ana ajine / asor banget</span><br />
	<span style="">Sudah tidak ada harganya (hina).</span><br />
	<br />
    <span style="font-weight: bold;">- Ana catur mungkur :</span><br />
	<span style="font-style: italic; ">ora gelem ngrungokake rerasan kang ora becik&nbsp;</span><br />
	<span style="">Tidak mau mendengarkan pergunjingan.</span><br />
	<br />
    <span style="font-weight: bold;">- Ana daulate ora ana begjane :</span><br />
	<span style="font-style: italic;">arep nemu kabegjan nanging ora sida (untub-untub)</span><br />
	<span style="">Tidak jadi mendapatkan kemuliaan/keberuntungan.</span><br />
	<br />
    <span style="font-weight: bold;">- Ana gula ana semut :</span><br />
	<span style="font-style: italic;">papan sing akeh rejekine, mesti akeh sing nekani</span><br />
	<span style="">Tempat yang banyak rejekinya, pasti banyak yang mendatangi.</span><br />
	<br />
    <span style="font-weight: bold;">- Anak polah bapa kepradah :</span><br />
	<span style="font-style: italic;">tingkah polahe anak dadi tanggungjawabe wong tuwa</span><br />
	<span style="">Tingkah lakunya anak jadi tanggung jawab orang tua. Jika anak bertingkah, maka nama</span><br />
	<span style="">orang tua akan ikut terbawa.</span><br />
	<br />
    <span style="font-weight: bold;">- Anggenthong umos (bocor/rembes) :</span><br />
	<span style="font-style: italic;">wong kang ora bisa nyimpen wewadi</span><br />
	<span style="">Orang yang tidak bias menyimpan rahasia.</span><br />
	<br />
    <span style="font-weight: bold;">- Angon mongso :</span><br />
	<span style="font-style: italic;">golek waktu kang prayoga kanggo tumindak</span><br />
	<span style="">Mencari waktu yang tepat untuk bertindak.</span><br />
	<br />
    <span style="font-weight: bold;">- Angon ulat ngumbar tangan :</span><br />
	<span style="font-style: italic;">ngulatake kahanan menawa kalimpe banjur dicolong</span><br />
	<span style="">Mencari kesempatan untuk mencuri/berbuat kejahatan.</span><br />
	<br />
    <span style="font-weight: bold;">- Arep jamure emoh watange :</span><br />
	<span style="font-style: italic;">gelem kepenake ora gelem rekasane</span><br />
	<span style="">Mau enaknya/hasilnya tanpa mau berusaha.</span><br />
	<br />
    <span style="font-weight: bold;">- Asu rebutan balung :</span><br />
	<span style="font-style: italic;">rebutan barang kang sepele</span><br />
	<span style="">Berebut barang yang remeh.</span><br />
	<br />
    <span style="font-weight: bold;">- Asu belang kalung wang :</span><br />
	<span style="font-style: italic;">wong asor nanging sugih</span><br />
	<span style="">Orang dari kalangan bawah, tidak berpendidikan tinggi, tapi memiliki banyak harta.</span><br />
	<br />
    <span style="font-weight: bold;">- Asu gedhe menang kerahe :</span><br />
	<span style="font-style: italic;">wong kang dhuwur pangkate mesti bae gede panguwasane</span><br />
	<span style="">Orang berpangkat tinggi wajar jika memiliki kekuasaan yang besar.</span><br />
	<br />
    <span style="font-weight: bold;">- Asu/ula marani gebuk :</span><br />
	<span style="font-style: italic;">njarak / sengaja marani bebaya</span><br />
	<span style="">Sengaja menantang bahaya.</span><br />
	<br />
    <span style="font-weight: bold;">- Ati bengkong oleh obor :</span><br />
	<span style="font-style: italic;">wong kang duwe niyat ala malah oleh dalan</span><br />
	<span style="">Orang berniat jelek malah mendapat jalan (bantuan).</span><br />
    
    
    </div>
    <br />
    <md-divider></md-divider>
    <br />
    <div id="B">
        
    <span class="md-display-1">B</span><br />
    <br />
    <span style="font-weight: bold;">- Baladewa ilang gapite (jepit wayang) :</span><br />
    <span style="font-style: italic;">ilang kekuwatane / kaluhurane</span><br />
    <span >Hilang kekuatan dan kekuasaannya. Diibaratkan dengan wayang Baladewa yang kehilangan kayu penjepitnya. Maka hanya akan menjadi selembar kulit yang lemas.</span><br />
	<br />
    <span style="font-weight: bold;">- Banyu pinerang ora bakal pedhot (sigar) :</span><br />
	<span style="font-style: italic;">pasulayan sedulur ora bakal medhotake sedulurane</span><br />
	<span >Perselisihan antar-saudara tidak akan menghilangkan hubungan saudara itu sendiri.</span><br />
	<br />
    <span style="font-weight: bold;">- Bathang lelaku :</span><br />
	<span style="font-style: italic;">lunga ijen ngambah panggonan kang mbebayani</span><br />
	<span >Pergi seorang diri menuju tempat berbahaya.</span><br />
	<br />
    <span style="font-weight: bold;">- Bathok bolu isi madu (bolong telu) :</span><br />
	<span style="font-style: italic;">wong asor nanging sugih kepinteran</span><br />
	<span >Orang dari kalangan bawah tapi kaya ilmu pengetahuan.</span><br />
	<br />
    <span style="font-weight: bold;">- Blaba wuda :</span><br />
	<span style="font-style: italic;">saking lomane nganti awake dhewe ora keduman</span><br />
	<span >Karena terlalu dermawan hingga dirinya sendiri tidak mendapatkan/mempunyai apa-apa.</span><br />
	<br />
    <span style="font-weight: bold;">- Bebek mungsuh mliwis :</span><br />
	<span style="font-style: italic;">wong pinter mungsuh wong kang podho pintere</span><br />
	<span >Orang pandai berhadapan dengan lawan yang setara.</span><br />
	<br />
    <span style="font-weight: bold;">- Becik ketitik ala ketara :</span><br />
	<span style="font-style: italic;">becik lan ala bakal konangan ing tembe mburine</span><br />
	<span >Baik atau buruknya seseorang pada akhirnya pasti akan terlihat.</span><br />
	<br />
    <span style="font-weight: bold;">- Belo melu seton (malem minggu) :</span><br />
	<span style="font-style: italic;">manut grubyuk ora ngerti karepe</span><br />
	<span >Ikut-ikutan tanpa tahu apa maksudnya (taklid buta).</span><br />
	<br />
    <span style="font-weight: bold;">- Beras wutah arang bali menyang takere :</span><br />
	<span style="font-style: italic;">barang kang wis owah ora bakal bali kaya maune</span><br />
	<span >Sesuatu yang sudah rusak/cacat tidak akan bisa kembali sama seperti sedia kala</span><br />
	<br />
    <span style="font-weight: bold;">- Bidhung api rowang :</span><br />
	<span style="font-style: italic;">ethok-ethok nulung nanging sejatine arep ngrusuhi</span><br />
	<span >Pura-pura menolong tapi sebenarnya berniat membuat onar.</span><br />
	<br />
    <span style="font-weight: bold;">- Balilu tan pinter durung nglakoni (bodho) :</span><br />
	<span style="font-style: italic;">wong bodho sering nglakoni, isih kalah pinter karo wong pinter nanging durung tau nglakoni</span><br />
	<span >Orang yang tidak memiliki pengetahuan tentang suatu hal, meskipun sering menjalaninya, masih kalah pandai dengan orang yang memiliki pengetahuan, meski tidak pernah menjalaninya.</span><br />
	<br />
    <span style="font-weight: bold;">- Bubuk oleh leng :</span><br />
	<span style="font-style: italic;">wong duwe niyat ala oleh dalan</span><br />
	<span >Orang berniat jelek yang mendapat jalan (bantuan).</span><br />
	<br />
    <span style="font-weight: bold;">- Bung pring petung :</span><br />
	<span style="font-style: italic;">bocah kang longgor (gelis gedhe)</span><br />
	<span >Anak yang dewasa sebelum waktunya.</span><br />
	<br />
    <span style="font-weight: bold;">- Buntel kadut, ora kinang ora udud :</span><br />
	<span style="font-style: italic;">wong nyambut gawe borongan ora oleh mangan lan udud (rokok)</span><br />
	<span >Orang yang bekerja secara borongan tidak mendapat makan dan rokok. Maksudnya orang yang bekerja dengan sistem borongan jarang yang mendapatkan tip/bonus. Entah itu berupa makanan/camilan atau sekedar rokok.</span><br />
	<br />
    <span style="font-weight: bold;">- Buru (mburu) uceng kelangan dheleg :</span><br />
	<span style="font-style: italic;">golek barang sepele malah kelangan barang luwih gedhe</span><br />
	<span >Mencari barang sepele/remeh tapi malah kehilangan sesuatu yang lebih penting.</span><br />
	<br />
    <span style="font-weight: bold;">- Busuk ketekuk, pinter keblinger :</span><br />
	<span style="font-style: italic;">wong bodho lan pinter padha wae nemu cilaka</span><br />
	<span >Orang bodoh ataupun pandai suatu saat sama-sama akan mengalami kesialan/keusulitan.</span><br />
    
    </div>
    
    <br />
    <md-divider></md-divider>
    <br />
    <div id="C">
        
    <span class="md-display-1">C</span><br />
    <br />
    <span style="font-weight: bold;">- Carang canthel :</span><br />
    <span style="font-style: italic;">ora diajak guneman nanging melu-melu ngrembug</span><br />
    <span >Tidak diajak bicara tapi ikut nimbrung dalam pembicaraan.</span><br />
    <br />
    <span style="font-weight: bold;">- Car-cor kaya kurang janganan :</span><br />
    <span style="font-style: italic;">ngomong ceplas-ceplos ora dipikir dhisik</span><br />
    <span >Bicara seenaknya tanpa berpikir panjang.</span><br />
    <br />
    <span style="font-weight: bold;">- Cathok gawel (timangan sabuk) :</span><br />
    <span style="font-style: italic;">seneng cawe-cawe mesthi ora diajak guneman</span><br />
    <span >Suka ikut campur pembicaraan orang lain.</span><br />
    <br />
    <span style="font-weight: bold;">- Cebol nggayuh lintang :</span><br />
    <span style="font-style: italic;">kekarepan kang ora mokal bisa kelakon</span><br />
    <span >Keinginan yang mustahil untuk terlaksana.</span><br />
    <br />
    <span style="font-weight: bold;">- Cecak nguntal cagak (empyak) :</span><br />
    <span style="font-style: italic;">gegayuhan kang ora imbang karo kekuwatane</span><br />
    <span >Keinginan/usaha yang tidak sebanding dengan kemampuannya.</span><br />
    <br />
    <span style="font-weight: bold;">- Cedhak celeng boloten (gupak lendhut) :</span><br />
    <span style="font-style: italic;">cedhak karo wong ala bakal katut ala</span><br />
    <span >Jika bersanding dengan orang yang buruk kelakuannya maka akan ikut terbawa.</span><br />
    <br />
    <span style="font-weight: bold;">- Cedhak kebo gupak :</span><br />
    <span style="font-style: italic;">cedhak karo wong ala bakal katut ala</span><br />
    <span >Jika bersanding dengan orang yang buruk kelakuannya maka akan ikut terbawa.</span><br />
    <br />
    <span style="font-weight: bold;">- Ciri wanci lelai ginawa mati :</span><br />
    <span style="font-style: italic;">pakulinan ala ora bisa diowahi yen durung nganti mati</span><br />
    <span >Kebiasaan buruk yang tidak bisa dihilangkan jika belum menemui ajal.</span><br />
    <br />
    <span style="font-weight: bold;">- Cincing-cincing meksa klebus :</span><br />
    <span style="font-style: italic;">karepe ngirit nanging malah entek akeh</span><br />
    <span >Maksudnya/maunya berhemat tapi malah habis banyak.</span><br />
    <br />
    <span style="font-weight: bold;">- Criwis cawis :</span><br />
    <span style="font-style: italic;">seneng maido nanging yo seneng menehi/muruki</span><br />
    <span >Suka mencela tapi juga suka member/membantu.</span><br />
    <br />
    <span style="font-weight: bold;">- Cuplak andheng-andheng, yen ora pernah panggonane bakal disingkirake :</span><br />
    <span style="font-style: italic;">wong kang njalari ala becike disingkirake</span><br />
    <span >Orang yang menyebabkan keburukan maka semua kebaikannya akan terhapus.</span><br />
            
    </div>
    
    <br />
    <md-divider></md-divider>
    <br />
    <div id="D">
        
    <span class="md-display-1">D</span><br />
    <br />
    <span style="font-weight: bold;">- Dadiya banyu emoh nyawuk, dadiya godhong emoh nyuwek, dadiyo suket emoh nyenggut :</span><br />
    <span style="font-style: italic;">wis ora gelem nyanak / emoh sapa aruh</span><br />
    <span >Saking jengkel/marahnya hingga tidak mau bertegur sapa lagi.</span><br />
    <br />
    <span style="font-weight: bold;">- Dahwen ati open (seneng nacad) :</span><br />
    <span style="font-style: italic;">nacad nanging mbenerake wong liya.</span><br />
    <span >Mencela sesuatu tapi malah membenarkan hal lainnya yang sama persis.</span><br />
    <br />
    <span style="font-weight: bold;">- Dandhang diunekake kuntul, kuntul diunekake dandhang :</span><br />
    <span style="font-style: italic;">ala dianggep becik, becik dianggep ala</span><br />
    <span >Perkara yang buruk dianggap baik, sedangkan yang baik dianggap buruk.</span><br />
    <br />
    <span style="font-weight: bold;">- Desa mawa cara, negara mawa tata :</span><br />
    <span style="font-style: italic;">saben panggonan duwe cara utawa adat dhewe-dhewe</span><br />
    <span >Setiap daerah memiliki adat istiadat atau aturan yang berbeda.</span><br />
    <br />
    <span style="font-weight: bold;">- Dhemit ora ndulit, setan ora doyan :</span><br />
    <span style="font-style: italic;">tansah diparingi slamet, ora ana kang ngganggu gawe</span><br />
    <span >Semoga selalu diberi keselamatan, tidak ada suatu halangan yang merintangi. Sering digunakan sebagai jampi atau mantra penolak bala&#8217;.</span><br />
    <br />
    <span style="font-weight: bold;">- Digarokake dilukoke :</span><br />
    <span style="font-style: italic;">dikongkon nyambut gawe abot</span><br />
    <span >Disuruh bekerja berat.</span><br />
    <br />
    <span style="font-weight: bold;">- Didhadhunga medhot, dipalangana mlumpat :</span><br />
    <span style="font-style: italic;">wong kang kenceng karepe ora kena dipenggak</span><br />
    <span >Orang yang betekad bulat sehingga sulit untuk dihalangi.</span><br />
    <br />
    <span style="font-weight: bold;">- Diwenehi ati ngrogoh rempela :</span><br />
    <span style="font-style: italic;">diwenehi sithik ora trima, malah njaluk sing akeh</span><br />
    <span >Diberi sedikit tidak mau malah minta yang lebih banyak.</span><br />
    <br />
    <span style="font-weight: bold;">- Dom sumuruping mbanyu :</span><br />
    <span style="font-style: italic;">laku sesideman kanggo meruhi wewadi</span><br />
    <span >Tindakan sembunyi-sembunyi untuk mengetahui rahasia.</span><br />
    <br />
    <span style="font-weight: bold;">- Dudu sanak dudu kadang, yen mati melu kelangan :</span><br />
    <span style="font-style: italic;">senajan wong liya yen lagi nemoni rekasa bakal dibelani</span><br />
    <span >Meskipun tidak ada ikatan darah, namun jika mengalami kesusahan bersedia membela.</span><br />
    <br />
    <span style="font-weight: bold;">- Duka yayah sinipi, jaja bang mawinga-wingi :</span><br />
    <span style="font-style: italic;">wong kang nesu banget</span><br />
    <span >Orang yang marah sekali.</span><br />
    <br />
    <span style="font-weight: bold;">- Dudutan lan anculan (tali memeden sawah) :</span><br />
    <span style="font-style: italic;">padha kethikan, sing siji ethok-ethok ora ngerti</span><br />
    <span >Dua orang yang bersekongkol. Salah satunya pura-pura tidak tahu.</span><br />
    <br />
    <span style="font-weight: bold;">- Durung pecus keselak besus :</span><br />
    <span style="font-style: italic;">durung sembada nanging kepengin sing ora-ora</span><br />
    <span >Belum sukses tapi sudah memiliki keinginan yang macam-macam.</span><br />
    
    </div>
    
    <br />
    <md-divider></md-divider>
    <br />
    <div id="E">
        
    <span class="md-display-1">E</span><br />
    <br />
    <span style="font-weight: bold;">- Eman-eman ora keduman :</span><br />
    <span style="font-style: italic;">karepe eman malah awake dewe ora keduman</span><br />
    <span >Maunya ingin berhemat tapi pada akhirnya dia sendiri tidak mendapatkan bagian.</span><br />
    <br />
    <span style="font-weight: bold;">- Emban cindhe emban siladan (slendang iratan pring) :</span><br />
    <span style="font-style: italic;">pilih kasih / ora adil</span><br />
    <span >Pilih kasih.</span><br />
    <br />
    <span style="font-weight: bold;">- Embat-embat celarat (klarap) :</span><br />
    <span style="font-style: italic;">wong nyambut gawe kanthi ngati-ati banget</span><br />
    <span >Orang bekerja yang berhati-hati sekali.</span><br />
    <br />
    <span style="font-weight: bold;">- Emprit abuntut bedhug :</span><br />
    <span style="font-style: italic;">perkara sing maune sepele dadi gedhe / ngambra-ambra</span><br />
    <span >Perkara yang awalnya sepele menjadi besar.</span><br />
    <br />
    <span style="font-weight: bold;">- Endhas gundul dikepeti :</span><br />
    <span style="font-style: italic;">wis kepenak ditambahi kepenak maneh</span><br />
    <span >Kenyamanan yang masih ditambah dengan kenyamanan lain.</span><br />
    <br />
    <span style="font-weight: bold;">- Endhas pethak ketiban empyak :</span><br />
    <span style="font-style: italic;">wong kang bola-bali nemu cilaka.</span><br />
    <span >Orang berkali-kali mengalami musibah.</span><br />
    <br />
    <span style="font-weight: bold;">- Enggon welut didoli udhet :</span><br />
    <span style="font-style: italic;">panggone wong pinter dipameri kepinteran sing ora sepirowa</span><br />
    <span >Tempatnya orang pandai yang dipameri kepandaian yang tidak seberapa.</span><br />
    <br />
    <span style="font-weight: bold;">- Entek ngamek kurang golek :</span><br />
    <span style="font-style: italic;">anggone nyeneni/nguneni sakatoge</span><br />
    <span >Dimarahi habis-habisan.</span><br />
    <br />
    <span style="font-weight: bold;">- Entek jarake :</span><br />
    <span style="font-style: italic;">wis entek kasugihane</span><br />
    <span >Telah habis kekayaannya</span><br />
    <br />
    <span style="font-weight: bold;">- Esuk dhele sore tempe :</span><br />
    <span style="font-style: italic;">wong kang ora tetep atine (mencla mencle)</span><br />
    <span >Orang yang tidak punya pendirian (plin-plan).</span><br />
    </div>
    
    <br />
    <md-divider></md-divider>
    <br />
    <div id="G">
        
    <span class="md-display-1">G</span><br />
    <br />
    <span style="font-weight: bold;">- Gagak nganggo lar-e merak :</span><br />
    <span style="font-style: italic;">wong asor / wong cilik tumindak kaya wong luhur (gedhe)</span><br />
    <span >Orang jelata yang berlagak seperti orang kaya/berpangkat.</span><br />
    <br />
    <span style="font-weight: bold;">- Gajah alingan suket teki :</span><br />
    <span style="font-style: italic;">lair lan batine ora padha, mesthi bakal ketara</span><br />
    <span >Meski antara lahir dan batinnya berbeda, tapi suatu saat pasti akan terlihat.</span><br />
    <br />
    <span style="font-weight: bold;">- Gajah (nggajah) elar :</span><br />
    <span style="font-style: italic;">sarwa gedhe lan dhuwur kekarepane</span><br />
    <span >Semakin besar dan tinggi keinginannya.</span><br />
    <br />
    <span style="font-weight: bold;">- Gajah ngidak rapah (godhong garing) :</span><br />
    <span style="font-style: italic;">nerang wewalere dewe</span><br />
    <span style="background-color: white;"><br style="color: #333333; font-family: Arial; font-size: 12px;" /></span>
    <br />
    <span style="font-weight: bold;">- Gajah perang karo gajah, kancil mati ing tengahe :</span><br />
    <span style="font-style: italic;">wong gedhe sing padha pasulayan, wong cilik sing dadi korbane</span><br />
    <span >Pertikaian antara penguasa yang menyebabkan rakyat kecil menjadi korban.</span><br />
    <br />
    <span style="font-weight: bold;">- Garang garing :</span><br />
    <span style="font-style: italic;">wong semugih nanging sejatine kekurangan</span><br />
    <span >Orang yang kelihatannya kaya namun sejatinya kekurangan.</span><br />
    <br />
    <span style="font-weight: bold;">- Gawe luwangan kanggo ngurungi luwangan :</span><br />
    <span style="font-style: italic;">golek utang kanggo nyaur utang</span><br />
    <span >Berhutang untuk membayar hutang.</span><br />
    <br />
    <span style="font-weight: bold;">- Gayuk-gayuk tuna, nggayuh-nggayuh luput :</span><br />
    <span style="font-style: italic;">samubarang kang dikarepake ora bisa keturutan</span><br />
    <span >Semua yang diharapkan tidak bisa terlaksana.</span><br />
    <br />
    <span style="font-weight: bold;">- Gliyak-gliyak tumindak, sareh pakoleh :</span><br />
    <span style="font-style: italic;">senajan alon-alon anggone tumindak, nanging bisa kaleksanan karepe.</span><br />
    <span >Meskipun bertindak perlahan-lahan, tapi maksud dan tujuannya tercapai.</span><br />
    <br />
    <span style="font-weight: bold;">- Golek banyu bening :</span><br />
    <span style="font-style: italic;">meguru golek kawruh kang becik</span><br />
    <span >Berguru mencari pengetahuan yang baik.</span><br />
    <br />
    <span style="font-weight: bold;">- Golek-golek ketemu wong luru-luru :</span><br />
    <span style="font-style: italic;">karepe arep golek utangan malah dijaluki utang</span><br />
    <span >Maksudnya mau berhutang tapi malah dimintai hutang.</span><br />
    <br />
    <span style="font-weight: bold;">- Gupak pulute ora mangan nangkane :</span><br />
    <span style="font-style: italic;">melu rekasa nanging ora melu ngrasakake kepenake</span><br />
    <span >Ikut bersusah payah tapi tidak bisa ikut merasakan hasilnya.</span><br />
    </div>
    
    <br />
    <md-divider></md-divider>
    <br />
    <div id="I">
        
    <span class="md-display-1">I</span><br />
    <br />
    <span style="font-weight: bold;">-Idu didilat maneh :</span><br />
    <span style="font-style: italic;">murungake janji kang wis diucapake</span><br />
    <span >Menarik janji yang sudah diucapkan.</span><br />
    <br />
    <span style="font-weight: bold;">-Iwak lumebu wuwu :</span><br />
    <span style="font-style: italic;">wong kena apus kanthi gampang</span><br />
    <span >Orang yang tertipu dengan mudah.</span><br />
    
    </div>
    
    <br />
    <md-divider></md-divider>
    <br />
    <div id="J">
        
    <span class="md-display-1">J</span><br />
    <br />
    <span style="font-weight: bold;">- (n)Jagakake endhoge si blorok :</span><br />
    <span style="font-style: italic;">njagagake barang kang durung mesthi ana lan orane</span><br />
    <span >Berharap pada sesuatu yang belum pasti adanya.</span><br />
    <br />
    <span style="font-weight: bold;">- (n)Jajah desa milang kori :</span><br />
    <span style="font-style: italic; font-weight: bold;">lelungan menyang ngendi-endi</span><br />
    <span >Berpergian ke berbagai daerah.</span><br />
    <br />
    <span style="font-weight: bold;">- Jalma angkara mati murka :</span><br />
    <span style="font-style: italic;">nemoni cilaka jalaran saka angkara murkane</span><br />
    <span >Mendapatkan musibah/kesulitan karena angkara murkanya sendiri.</span><br />
    <br />
    <span style="font-weight: bold;">- (n)Jalukan ora wewehan :</span><br />
    <span style="font-style: italic;">seneng njejaluk ora seneng menehi</span><br />
    <span >Gemar meminta tapi tidak pernah memberi.</span><br />
    <br />
    <span style="font-weight: bold;">- Jati ketlusupan ruyung :</span><br />
    <span style="font-style: italic;">kumpulane wong becik kelebon wong ala</span><br />
    <span >Kumpulan orang baik yang dimasuki orang bejat.</span><br />
    <br />
    <span style="font-weight: bold;">- Jaran kerubuhan empyak :</span><br />
    <span style="font-style: italic;">wong wis kanji (kapok) banget</span><br />
    <span >Orang yang benar-benar kapok.</span><br />
    <br />
    <span style="font-weight: bold;">- Jarit lawas ing sampire :</span><br />
    <span style="font-style: italic;">duwe kapinteran nanging ora digunakake</span><br />
    <span >Punya kepandaian tapi tidak pernah digunakan/dimanfaatkan.</span><br />
    <br />
    <span style="font-weight: bold;">- Jer basuki mawa bea :</span><br />
    <span style="font-style: italic;">samubarang gegayuhan mbutuhake wragat</span><br />
    <span >Untuk mencapai suatu cita-cita membutuhkan dana.</span><br />
    <br />
    <span style="font-weight: bold;">- Jujul muwul :</span><br />
    <span style="font-style: italic;">perkara kang nambah-nambahi rekasa</span><br />
    <span >Perkara yang menambah masalah makin besar.</span><br />
    <br />
    <span style="font-weight: bold;">- (n)Junjung ngetebake / ngebrukake :</span><br />
    <span style="font-style: italic;">ngalembana nanging duwe maksud ngasorake</span><br />
    <span >Pujian yang pada dasarnya bermaksud menghina/menjatuhkan (sebuah ironi).</span><br />

    
    </div>
    
    <br />
    <md-divider></md-divider>
    <br />
    <div id="K">
        
    <span class="md-display-1">K</span><br />
	<br />
	<span style="font-weight: bold;">- Kacang ora ninggal lanjaran :</span><br />
	<span style="font-style: italic;">kebiasa-ane anak nirokake wong tuwane</span><br />
	<span >Kebiasaan anak selalu meniru dari orang tuanya</span><br />
	<br />
	<span style="font-weight: bold;">- Kadang konang :</span><br />
	<span style="font-style: italic;">gelem ngakoni sedulur mung karo sing sugih</span><br />
	<span >Hanya mau mengakui saudara pada yang kaya saja.</span><br />
	<br />
	<span style="font-weight: bold;">- Kala cacak menang cacak :</span><br />
	<span style="font-style: italic;">samubarang panggawean becik dicoba dhisik bisa lan orane</span><br />
	<span >Segala pekerjaan yang baik haruslah dicoba sebisa mungkin.</span><br />
	<br />
	<span style="font-weight: bold;">- Kandhang langit, bantal ombak, kemul mega :</span><br />
	<span style="font-style: italic;">wong sing ora duwe papan panggonan</span><br />
	<span >Orang yang tidak memiliki tempat tinggal (tunawisama).</span><br />
	<br />
	<span style="font-weight: bold;">- Katepang ngrangsang gunung :</span><br />
	<span style="font-style: italic;">kegedhen karep/panjangka sing mokal bisa kelakon</span><br />
	<span >Memiliki keinginan terlalu besar yang mustahil untuk bisa terlaksana.</span><br />
	<br />
	<span style="font-weight: bold;">- Katon kaya cempaka sawakul :</span><br />
	<span style="font-style: italic;">tansah disenengi wong akeh</span><br />
	<span >Selalu disukai oleh banyak orang.</span><br />
	<br />
	<span style="font-weight: bold;">- Kaya banyu karo lenga :</span><br />
	<span style="font-style: italic;">wong kang ora bisa rukun</span><br />
	<span >Dua orang/kelompok yang tidak bisa rukun (selalu berseteru).</span><br />
	<br />
	<span style="font-weight: bold;">- Kakehan gludug kurang udan :</span><br />
	<span style="font-style: italic;">akeh omonge ora ana nyatane</span><br />
	<span >Terlalu banyak bicara tetapi tidak ada bukti/tindakan.</span><br />
	<br />
	<span style="font-weight: bold;">- Kabanjiran segara madu :</span><br />
	<span style="font-style: italic;">nemu kabegjan kang gedhe banget</span><br />
	<span >Mendapatkan keberuntungan yang sangat besar.</span><br />
	<br />
	<span style="font-weight: bold;">- Kebat kliwat, gancang pincang :</span><br />
	<span style="font-style: italic;">tumindak kesusu mesthi ora kebeneran</span><br />
	<span >Tindakan yang tergesa-gesa pasti tidak sempurna.</span><br />
	<br />
	<span style="font-weight: bold;">- Kebo bule mati setra :</span><br />
	<span style="font-style: italic;">wong pinter nanging ora ana kang mbutuhake</span><br />
	<span >Orang pandai tapi tidak ada yang membutuhkan.</span><br />
	<br />
	<span style="font-weight: bold;">- Kebo ilang tombok kandhang :</span><br />
	<span style="font-style: italic;">wis kelangan, isih tombok wragat kanggo nggoleki, malah ora ketemu</span><br />
	<span >Sudah kehilangan, dicari dengan segala harta, tapi malah tidak ditemukan.</span><br />
	<br />
	<span style="font-weight: bold;">- Kebo kabotan sungu :</span><br />
	<span style="font-style: italic;">rekasa kakehan anak / tanggungan</span><br />
	<span >Terbebani dengan memiliki banyak anak/tanggungan.</span><br />
	<br />
	<span style="font-weight: bold;">- Kebo lumumput ing palang :</span><br />
	<span style="font-style: italic;">ngadili perkara ora nganggo waton</span><br />
	<span >Mengadili suatu masalah tanpa menggunakan peraturan/undang-undang yang berlaku (main hakim sendiri).</span><br />
	<br />
	<span style="font-weight: bold;">- Kebo mulih menyang kandhange :</span><br />
	<span style="font-style: italic;">wong lunga adoh bali menyang omahe / asale</span><br />
	<span >Sejauh-jauh orang pergi merantau pasti pulang ke kampung halamannya.</span><br />
	<br />
	<span style="font-weight: bold;">- Kebo nusu gudel :</span><br />
	<span style="font-style: italic;">wong tuwa njaluk wulang wong enom</span><br />
	<span >Orang yang lebih tua usianya belajar/menjadi tanggungan yang lebih muda.</span><br />
	<br />
	<span style="font-weight: bold;">- Kegedhen empyak kurang cagak :</span><br />
	<span style="font-style: italic;">kegedhen karep nanging ora sembada</span><br />
	<span >Keinginan yang terlalu besar tapi tidak sesuai dengan kemampuannya.</span><br />
	<br />
	<span style="font-weight: bold;">- Kajugrugan gunung menyan :</span><br />
	<span style="font-style: italic;">oleh kabegjan kang gedhe banget</span><br />
	<span >Mendapatkan keberuntungan yang besar sekali.</span><br />
	<br />
	<span style="font-weight: bold;">- Kekudhung walulang macan :</span><br />
	<span style="font-style: italic;">ngapusi nggawa jenenge wong kang diwedeni</span><br />
	<span >Menipu dengan menggunakan nama besar orang yang ditakuti.</span><br />
	<br />
	<span style="font-weight: bold;">- Kelacak kepathak :</span><br />
	<span style="font-style: italic;">ora bisa mungkir jalaran wis kebukten</span><br />
	<span >Tidak bisa mengelak lagi karna telah terbukti bersalah (tertangkap basah).</span><br />
	<br />
	<span style="font-weight: bold;">- Kena iwake aja nganti buthek banyune :</span><br />
	<span style="font-style: italic;">sing dikarepake bisa kelakon nanging aja nganti dadi rame/rusak</span><br />
	<span >Mencapai suatu tujuan tanpa membuat suatu kerusakan/keributan.</span><br />
	<br />
	<span style="font-weight: bold;">- Kencana katon wingko :</span><br />
	<span style="font-style: italic;">senajan apik nanging ora disenengi</span><br />
	<span >Meskipun bagus tapi tidak disukai.</span><br />
	<br />
	<span style="font-weight: bold;">- Kendel ngringkel, dhadang ora godak :</span><br />
	<span style="font-style: italic;">ngakune kendel tur pinter jebule jirih tur bodho</span><br />
	<span >Mengaku berani dan pintar, tapi kenyataannya penakut dan bodoh.</span><br />
	<br />
	<span style="font-weight: bold;">- Kenes ora ethes :</span><br />
	<span style="font-style: italic;">wong sugih amuk nanging bodho</span><br />
	<span >Orang yang mudah marah tapi sebenarnya bodoh.</span><br />
	<br />
	<span style="font-weight: bold;">- Keplok ora tombok :</span><br />
	<span style="font-style: italic;">wong senengane komentar thok nanging ora gelem tumindak</span><br />
	<span >Orang yang hanya suka berkomentar tapi tidak mau ikut bertindak.</span><br />
	<br />
	<span style="font-weight: bold;">- Kere munggah mbale :</span><br />
	<span style="font-style: italic;">batur dipek bojo karo bendarane</span><br />
	<span >Pembantu yang diperistri oleh majikannya.</span><br />
	<br />
	<span style="font-weight: bold;">- Kere nemoni malem :</span><br />
	<span style="font-style: italic;">wong kang bedigasan / serakah</span><br />
	<span >Orang yang serakah.</span><br />
	<br />
	<span style="font-weight: bold;">- Kerot ora duwe untu :</span><br />
	<span style="font-style: italic;">duwe kekarepan nanging ora duwe beaya / wragat</span><br />
	<span >Memiliki keinginan tapi tak memiliki dana/biaya.</span><br />
	<br />
	<span style="font-weight: bold;">- Kerubuhan gunung :</span><br />
	<span style="font-style: italic;">wong nemoni kesusahan sing gedhe banget</span><br />
	<span >Orang yang mengalami musibah yang sangat besar.</span><br />
	<br />
	<span style="font-weight: bold;">- Kesandhung ing rata, kebentus ing tawang :</span><br />
	<span style="font-style: italic;">nemoni cilaka kang ora kenyana-nyana</span><br />
	<span >Menemui musibah yang tidak disangka-sangka.</span><br />
	<br />
	<span style="font-weight: bold;">- Ketula-tula ketali :</span><br />
	<span style="font-style: italic;">wong kang tansah nandang sengsara</span><br />
	<span >Orang yang selalu mendapat kesusahan.</span><br />
	<br />
	<span style="font-weight: bold;">- Kethek saranggon :</span><br />
	<span style="font-style: italic;">kumpulane wong kang tindakane ala</span><br />
	<span >Sekelompok orang bejat/tidak beradab.</span><br />
	<br />
	<span style="font-weight: bold;">- Kleyang kabur kanginan, ora sanak ora kadhang :</span><br />
	<span style="font-style: italic;">wong kang ora duwe panggonan sing tetep</span><br />
	<span >Orang yang tidak memiliki tempat tinggal yang tetap (pengelana).</span><br />
	<br />
	<span style="font-weight: bold;">- Klenthing wadah uyah :</span><br />
	<span style="font-style: italic;">angel ninggalake pakulinan tumindak ala</span><br />
	<span >Sulit meninggalkan kebiasaan buruk.</span><br />
	<br />
	<span style="font-weight: bold;">- Kongsi jambul wanen :</span><br />
	<span style="font-style: italic;">nganti tumekan tuwa banget</span><br />
	<span >Hingga sampai pada usia tua.</span><br />
	<br />
	<span style="font-weight: bold;">- Krokot ing galeng :</span><br />
	<span style="font-style: italic;">wong kang mlarat banget</span><br />
	<span >Orang yang sangat miskin.</span><br />
	<br />
	<span style="font-weight: bold;">- Kriwikan dadi grojogan :</span><br />
	<span style="font-style: italic;">prakara kang maune cilik dadi gedhe banget</span><br />
	<span >Perkara yang mulanya kecil menjadi sangat besar.</span><br />
	<br />
	<span style="font-weight: bold;">- Kumenthus ora pecus :</span><br />
	<span style="font-style: italic;">seneng umuk nanging ora sembada</span><br />
	<span >Banyak cakap/bicara tapi tidak memiliki kemampuan/tindakan yang seimbang dengan ucapannya (pembual).</span><br />
	<br />
	<span style="font-weight: bold;">- Kurung munggah lumbung :</span><br />
	<span style="font-style: italic;">wong asor / cilik didadekake wong gedhe</span><br />
	<span >Orang jelata yang dijadikan pembesar/pejabat.</span><br />
	<br />
	<span style="font-weight: bold;">- Kuthuk nggendhong kemiri :</span><br />
	<span style="font-style: italic;">manganggo kang sarwo apik/aji liwat dalan kang mbebayani</span><br />
	<span >Mendapatkan kehormatan/jabatan melalui jalan yang berbahaya.</span><br />
	<br />
	<span style="font-weight: bold;">- Kutuk marani sunduk, ula marani gebuk :</span><br />
	<span style="font-style: italic;">njarag marani bebaya</span><br />
	<span >Menantang bahaya/maut.</span><br />
	<br />
	<span style="font-weight: bold;">- Kuncung nganti temekan gelung :</span><br />
	<span style="font-style: italic;">suwe banget anggone ngenteni</span><br />
	<span >Penantian yang sangat lama.</span><br />

	</div>


    <br />
    <md-divider></md-divider>
    <br />
    <div id="L">
        
    <span class="md-display-1">L</span><br />

	<br />
	<span style="font-weight: bold;">- Ladak kecangklak :</span><br />
	<span style="font-style: italic;">wong kang angkuh nemoni pakewuh, marga tumindake dewe</span><br />
	<span >Orang angkuh/sombong yang mendapatkan kesulitan karena kelakuannya sendiri.</span><br />
	<br />
	<span style="font-weight: bold;">- Lahang karoban manis :</span><br />
	<span style="font-style: italic;">rupane bagus / ayu tur luhur budine</span><br />
	<span >Memiliki paras yang tampan/cantik dan berbudi luhur pula.</span><br />
	<br />
	<span style="font-weight: bold;">- Lambe satumang kari samerang :</span><br />
	<span style="font-style: italic;">dituturi bola-bali meksa ora digugu</span><br />
	<span >Meskipun dinasehati berkali-kali tapi tetap tidak dianggap.</span><br />
	<br />
	<span style="font-weight: bold;">- Lanang kemangi :</span><br />
	<span style="font-style: italic;">wong lanang kang jireh</span><br />
	<span >Lelaki penakut.</span><br />
	<br />
	<span style="font-weight: bold;">- Legan golek momongan :</span><br />
	<span style="font-style: italic;">wis kepenak malah golek rekasa</span><br />
	<span >Sudah mendapatkan posisi yang mapan tapi malah mencari sengsara/susah.</span><br />
	<br />
	<span style="font-weight: bold;">- Lumpuh ngideri jagad :</span><br />
	<span style="font-style: italic;">duwe karepan kang mokal bisa keturutan</span><br />
	<span >Memiliki keinginan yang mustahil terlaksana.</span><br />
	</div>

    <br />
    <md-divider></md-divider>
    <br />
    <div id="M">
        
    <span class="md-display-1">M</span><br />

	<br />
	<span style="font-weight: bold;">- Maju tatu mundur ajur :</span><br />
	<span style="font-style: italic;">perkara kang sarwa pakwuh</span><br />
	<span >Perkara yang menjadikan serba salah.</span><br />
	<br />
	<span style="font-weight: bold;">- Matang tuna numbak luput :</span><br />
	<span style="font-style: italic;">tansah luput kabeh panggayuhan</span><br />
	<span >Selalu meleset semua cita-cita/usahanya.</span><br />
	<br />
	<span style="font-weight: bold;">- Mbuang tilas :</span><br />
	<span style="font-style: italic;">ethok-ethok ora ngerti marang tumindak kang ala sing lagi dilakoni</span><br />
	<span >Pura-pura tidak tahu dengan perbuatan buruk yang sedang dijalani.</span><br />
	<br />
	<span style="font-weight: bold;">- Meneng widara uleran :</span><br />
	<span style="font-style: italic;">katon anteng nanging sejatin ala atine</span><br />
	<span >Dari luar terlihat tenaang/baik tapi sebenarnya buruk hatinya.</span><br />
	<br />
	<span style="font-weight: bold;">- Menthung koja kena sembagine :</span><br />
	<span style="font-style: italic;">rumangsane ngapusi nanging sejatine malah kena apus</span><br />
	<span >Merasa memperdayai/menipu tapi sebenarnya dirinya sendirilah yang telah diperdaya/ditipu.</span><br />
	<br />
	<span style="font-weight: bold;">- Merangi tatal :</span><br />
	<span style="font-style: italic;">mentahi rembug kang wis mateng</span><br />
	<span >Menyangkal hasil musyawarah yang sudah matang.</span><br />
	<br />
	<span style="font-weight: bold;">- Mikul dhuwur mendhem jero :</span><br />
	<span style="font-style: italic;">bisa njunjung drajate wong tuwa</span><br />
	<span >Bisa menjunjung tinggi nama baik/derajat orang tua.</span><br />
	<br />
	<span style="font-weight: bold;">- Milih-milih tebu oleh boleng :</span><br />
	<span style="font-style: italic;">kakehan milih wekasan oleh kang ora becik</span><br />
	<span >Terlalu banyak memilih tapi pada akhirnya malah mendapatkan yang tidak baik.</span><br />
	<br />
	<span style="font-weight: bold;">- Mrojol selaning garu :</span><br />
	<span style="font-style: italic;">wong kang luput saka bebaya</span><br />
	<span >Orang yang luput/terlepas dari bahaya.</span><br />
	<br />
	<span style="font-weight: bold;">- Mubra-mubra mblabar madu :</span><br />
	<span style="font-style: italic;">wong sing sarwa kecukupan</span><br />
	<span >Orang yang selalu tercukupi kebutuhannya.</span><br />

	</div>

    <br />
    <md-divider></md-divider>
    <br />
    <div id="N">
        
    <span class="md-display-1">N</span><br />

	<br />
	<span style="font-weight: bold;">- Nabok anyilih tangan :</span><br />
	<span style="font-style: italic;">tumindak ala kanthi kongkonan uwong liya</span><br />
	<span >Berbuat jahat dengan menggunakan/menyuruh orang lain.</span><br />
	<br />
	<span style="font-weight: bold;">- Ngagar metu kawul :</span><br />
	<span style="font-style: italic;">ngojok-ojoki supaya dadi pasulayan, nanging sing diojoki ora mempan</span><br />
	<span >Menghasut orang supaya salah jalan/berbuat salah, tapi yang dihasut tidak terpengaruh.</span><br />
	<br />
	<span style="font-weight: bold;">- Ngajari bebek nglangi :</span><br />
	<span style="font-style: italic;">panggawean sing ora ana paedahe</span><br />
	<span >Pekerjaan yang tidak ada manfaatnya.</span><br />
	<br />
	<span style="font-weight: bold;">- Ngalasake negara :</span><br />
	<span style="font-style: italic;">wong sing ora manut pranatane negara</span><br />
	<span >Orang yang tidak mau mengikuti peraturan negara.</span><br />
	<br />
	<span style="font-weight: bold;">- Ngalem legining gula :</span><br />
	<span style="font-style: italic;">ngalembana kepinterane wong kang pancen pinter/sugih</span><br />
	<span >Memuji kepandaian/kebaikan orang yang nyata-nyata memang pandai/baik.</span><br />
	<br />
	<span style="font-weight: bold;">- Ngaturake kidang lumayu :</span><br />
	<span style="font-style: italic;">ngaturake barang kang wis ora ana</span><br />
	<span >Memberikan barang yang tidak ada.</span><br />
	<br />
	<span style="font-weight: bold;">- Nglungguhi klasa gumelar :</span><br />
	<span style="font-style: italic;">nindakake panggawean kang wis tumata</span><br />
	<span >Melakukan pekerjaan yang telah tertata/disiapkan.</span><br />
	<br />
	<span style="font-weight: bold;">- Ngontragake gunung :</span><br />
	<span style="font-style: italic;">wong cilik/asor bisa ngalahake wong luhur/gedhe, nganti gawe gegere wong akeh</span><br />
	<span >Orang jelata/biasa yang bisa mengalahkan pembesar/pejabat sehingga membuat kehebohan.</span><br />
	<br />
	<span style="font-weight: bold;">- Nguthik-uthik macan dhedhe :</span><br />
	<span style="font-style: italic;">njarag wong kang wis lilih nepsune.</span><br />
	<span >Menantang/menggoda orang yang telah mampu menahan hawa nafsu/amarah/emosinya.</span><br />
	<br />
	<span style="font-weight: bold;">- Nguyahi segara :</span><br />
	<span style="font-style: italic;">weweh marang wong sugih kang ora ana pituwase</span><br />
	<span >Memberi/menyumbang pada orang kaya yang tidak ada manfaatnya.</span><br />
	<br />
	<span style="font-weight: bold;">- Nucuk ngiberake :</span><br />
	<span style="font-style: italic;">wis disuguhi mangan mulih isih mbrekat</span><br />
	<span >Sudah diberi makan, pulang masih membawakan oleh-oleh.</span><br />
	<br />
	<span style="font-weight: bold;">- Nututi layangan pedhot :</span><br />
	<span style="font-style: italic;">nggoleki barang sepele sing wis ilang</span><br />
	<span >Mencari barang remeh yang telah hilang.</span><br />
	<br />
	<span style="font-weight: bold;">- Nyangoni kawula minggat :</span><br />
	<span style="font-style: italic;">ndandani barang sing tansah rusak</span><br />
	<span >Memperbaiki barang yang sudah terlanjur rusak.</span><br />
	<br />
	<span style="font-weight: bold;">- Nyolong pethek :</span><br />
	<span style="font-style: italic;">tansah mleset saka pametheke/pambatange</span><br />

	</div>
    <br />
    <md-divider></md-divider>
    <br />
    <div id="O">
        
    <span class="md-display-1">O</span><br />
	<br />
	<span style="font-weight: bold;">- Obah ngarep kobet mburi :</span><br />
	<span style="font-style: italic;">tumindake penggede dadi contone/panutane kawula alit</span><br />
	<span >Segala tindakan pemimpin selalu jadi contoh/panutan pengikutnya.</span><br />
	<br />
	<span style="font-weight: bold;">- Opor bebek mentas awake dhewek :</span><br />
	<span style="font-style: italic;">rampung saka rekadayane dhewe</span><br />
	<span >Lolos dari kesulitan yang dibuatnya sendiri.</span><br />
	<br />
	<span style="font-weight: bold;">- Ora ana banyu mili menduwur :</span><br />
	<span style="font-style: italic;">watake anak biasane niru wong tuwane</span><br />
	<span >Watak/sifat anak biasanya meniru orang tuanya.</span><br />
	<br />
	<span style="font-weight: bold;">- Ora ana kukus tanpa geni :</span><br />
	<span style="font-style: italic;">ora ana prakara tanpa jalaran</span><br />
	<span >Tidak ada akibat tanpa suatu sebab.</span><br />
	<br />
	<span style="font-weight: bold;">- Ora gonjo ora unus :</span><br />
	<span style="font-style: italic;">wong kang ala atine lan rupane</span><br />
	<span >Orang yang buruk hati dan rupanya.</span><br />
	<br />
	<span style="font-weight: bold;">- Ora mambu enthong irus :</span><br />
	<span style="font-style: italic;">dudu sanak dudu kadhang</span><br />
	<span >Bukan saudara maupun teman (tidak memiliki hubungan sama sekali).</span><br />
	<br />
	<span style="font-weight: bold;">- Ora tembung ora tawung :</span><br />
	<span style="font-style: italic;">njupuk barang liyan ora kandha disik</span><br />
	<span >Mengambil barang orang lain tanpa pamit.</span><br />
	<br />
	<span style="font-weight: bold;">- Ora uwur ora sembur :</span><br />
	<span style="font-style: italic;">ora gelem cawe-cawe babar pisan</span><br />
	<span >Tidak mau ikut campur sama sekali.</span><br />
	<br />
	<span style="font-weight: bold;">- Ora kinang ora udud :</span><br />
	<span style="font-style: italic;">ora mangan apa-apa</span><br />
	<span >Tidak makan apa-apa. Maksudnya tidak mendapatkan apa-apa.</span><br />
	<br />
	<span style="font-weight: bold;">- Othak athik didudut angel :</span><br />
	<span style="font-style: italic;">guneme sajak kepenak, bareng ditemeni jebule angel</span><br />
	<span >Bicaranya seolah-olah meyakinkan, tapi ketika diseriusi ternyata tidak bisa.</span><br />

	</div>
	<br />
    <md-divider></md-divider>
    <br />
    <div id="P">
        
    <span class="md-display-1">P</span><br />

	<br />
	<span style="font-weight: bold;">- Palang mangan tandur :</span><br />
	<span style="font-style: italic;">diwenehi kapercayan malah gawe kapitunan</span><br />
	<span >Diberi kepercayaan tetapi malah disalahgunakan.</span><br />
	<br />
	<span style="font-weight: bold;">- Pandengan karo srengenge :</span><br />
	<span style="font-style: italic;">memungsuhan karo penguwasa</span><br />
	<span >Bermusuhan dengan penguasa.</span><br />
	<br />
	<span style="font-weight: bold;">- Pandhitane antake :</span><br />
	<span style="font-style: italic;">laire katon suci batine ala</span><br />
	<span >Dari luar terlihat suci/baik tapi hatinya buruk.</span><br />
	<br />
	<span style="font-weight: bold;">- Pecruk (manuk kag magan iwak) tunggu bara :</span><br />
	<span style="font-style: italic;">dipasrahi barang kang dadi kesenengan</span><br />
	<span >Diberi mandat/kepercayaan menjaga sesuatu yang jadi kegemarannya.</span><br />
	<br />
	<span style="font-weight: bold;">- Pitik trondhol diumbar ing padaringan :</span><br />
	<span style="font-style: italic;">wong ala dipasrahi barang kang aji, wekasane malah ngentek-entekake</span><br />
	<span >Orang jahat yang diberi kepercayaan barang berharga, pada akhirnya hanya bisa menghabiskan.</span><br />
	<br />
	<span style="font-weight: bold;">- Pupur sadurunge benjut :</span><br />
	<span style="font-style: italic;">ngati-ati sadurunge benjut</span><br />
	<span >Berhati-hati sebelum celaka/babak belur.</span><br />

	</div>
    <br />
    <md-divider></md-divider>
    <br />
    <div id="R">
        
    <span class="md-display-1">R</span><br />
	<br />
	<span style="font-weight: bold;">- Rampek-rampek kethek :</span><br />
	<span style="font-style: italic;">nyedak-nyedak mung arep gawe kapitunan</span><br />
	<span >Mendekati hanya untuk membuat kerusakan/onar.</span><br />
	<br />
	<span style="font-weight: bold;">- Rawe-rawe rantas malang-malang putung :</span><br />
	<span style="font-style: italic;">samubarang kang ngalang-alangi bakal disingkirake</span><br />
	<span >Semua barang yang menghalangi bakal disingkirkan.</span><br />
	<br />
	<span style="font-weight: bold;">- Rebut balung tanpa isi :</span><br />
	<span style="font-style: italic;">pasulayan merga barang kang sepele</span><br />
	<span >Perselisihan yang disebabkan perkara sepele.</span><br />
	<br />
	<span style="font-weight: bold;">- Rindhik asu digitik :</span><br />
	<span style="font-style: italic;">dikongkon nindakake penggawean kang cocok karo kekarepane</span><br />
	<span >Ditugaskan menjalankan pekerjaan yang sesuai dengan keinginannya.</span><br />
	<br />
	<span style="font-weight: bold;">- Rupa nggendhong rega :</span><br />
	<span style="font-style: italic;">barang apik regane larang</span><br />
	<span >Barang bagus/berkwalitas mahal harganya.</span><br />
	<br />
	<span style="font-weight: bold;">- Rukun agawe santosa, crah agawe bubrah :</span><br />
	<span style="font-style: italic;">yen padha rukun mesti padha santosa, yen padha congkrah mesthi padha bubrah/rusak</span><br />
	<span >Jika bisa hidup rukun pasti akan hidup sentosa, jika selalu bertikai pasti akan bercerai.</span><br />

	</div>

    <br />
    <md-divider></md-divider>
    <br />
    <div id="S">
        
    <span class="md-display-1">S</span><br />
	<br />
	<span style="font-weight: bold;">- Sabar sareh mesthi bakal pikoleh :</span><br />
	<span style="font-style: italic;">tumindak samubarang aja kesusu supaya kasil</span><br />
	<span >Pekerjaan apapun jangan dilakukan dengan tergesa-gesa agar berhasil.</span><br />
	<br />
	<span style="font-weight: bold;">- Sabaya pati, sabaya mukti :</span><br />
	<span style="font-style: italic;">kerukunan kang nganti tekan pati</span><br />
	<span >Kerukunan yang dijalankan hingga akhir hayat.</span><br />
	<br />
	<span style="font-weight: bold;">- Sadumuk bathuk sanyari bumi :</span><br />
	<span style="font-style: italic;">pasulayan nganti dilabuhi tekaning pati</span><br />
	<span >Persilisihan terus menerus hingga ajal tiba.</span><br />
	<br />
	<span style="font-weight: bold;">- Sandhing kebo gupak :</span><br />
	<span style="font-style: italic;">cedhak wong tumindak ala, bisa-bisa katut ala</span><br />
	<span >Jika dekat-dekat dengan orang bejat bisa-bisa ikut bejat.</span><br />
	<br />
	<span style="font-weight: bold;">- Satru mungging cangklakan :</span><br />
	<span style="font-style: italic;">mungsuh wong kang isih sanak sedulur</span><br />
	<span >Musuh yang masih bersaudara.</span><br />
	<br />
	<span style="font-weight: bold;">- Sadhakep awe-awe :</span><br />
	<span style="font-style: italic;">wis ninggalake tumindak ala, nanging batien isih kepengin nglakoni maneh</span><br />
	<span >Sudah meninggalkan pekerjaan jelek, tapi dalam batin masih ingin mengulangi lagi.</span><br />
	<br />
	<span style="font-weight: bold;">- Sembur-sembur adus, siram-siram bayem :</span><br />
	<span style="font-style: italic;">bisa kalaksanan marga oleh pandongane wong akeh</span><br />
	<span >Bisa terlaksana karena mendapat dukungan/doa banyak orang.</span><br />
	<br />
	<span style="font-weight: bold;">- Sepi ing pamrih, rame ing gawe :</span><br />
	<span style="font-style: italic;">nindakake panggaweyan kanthi ora melik/pamrih apa-apa</span><br />
	<span >Melakukan pekerjaan tanpa pamrih.</span><br />
	<br />
	<span style="font-weight: bold;">- Sing sapa salah bakal seleh :</span><br />
	<span style="font-style: italic;">sing sapa salah bakal konangan</span><br />
	<span >Orang yang berbuat salah pada akhirnya pasti akan ketahuan.</span><br />
	<br />
	<span style="font-weight: bold;">- Sluman slumun slamet :</span><br />
	<span style="font-style: italic;">senajan kurang ati-ati isih diparingi slamet</span><br />
	<span >Biarpun kurang hati-hati tapi masih diberi keselamatan.</span><br />
	<br />
	<span style="font-weight: bold;">- Sumur lumaku tinimba, gong lumaku tinabuh :</span><br />
	<span style="font-style: italic;">wong kang kumudu-kudu dijaluki piwulang/ditakoni</span><br />

	</div>
    <br />
    <md-divider></md-divider>
    <br />
    <div id="T">
        
    <span class="md-display-1">T</span><br />

	<br />
	<span style="font-weight: bold;">- Tebu tuwuh socane :</span><br />
	<span style="font-style: italic;">prakara kang wus apik, bubrah marga ana sing ngrusuhi</span><br />
	<span >Perkara yang telah tertata rapi, rusak karena ada yang berbuat onar.</span><br />
	<br />
	<span style="font-weight: bold;">- Tega larane ora tega patine :</span><br />
	<span style="font-style: italic;">senajan negakake rekasane, nanging isih menehi pitulungan</span><br />
	<span >Meski tega melihat orang tersebut sengsara, tapi masih memberi pertolongan.</span><br />
	<br />
	<span style="font-weight: bold;">- Tekek mati ing ulone :</span><br />
	<span style="font-style: italic;">nemoni cilaka margo saka guneme dhewe</span><br />
	<span >Mendapatkan masalah karena ucapannya/kelakuannya sendiri.</span><br />
	<br />
	<span style="font-weight: bold;">- Tembang rawat-rawat, ujare mbok bakul sunambiwara :</span><br />
	<span style="font-style: italic;">kabar kang durung mesthi salah lan benere</span><br />
	<span >Kabar/berita yang belum pasti kebenarannya.</span><br />
	<br />
	<span style="font-weight: bold;">- Timun jinara :</span><br />
	<span style="font-style: italic;">prakara gampang banget</span><br />
	<span >Perkara yang mudah sekali.</span><br />
	<br />
	<span style="font-weight: bold;">- Timun mungsuh duren :</span><br />
	<span style="font-style: italic;">wong cilik mungsuh wang kuwat/panguwasa, mesthi kalahe</span><br />
	<span >Orang jelata/kecil melawan pengusa/orang besar dan sudah pasti kekalahannya.</span><br />
	<br />
	<span style="font-weight: bold;">- Timun wungkuk jaga imbuh :</span><br />
	<span style="background-color: white;"><span style="color: #333333; font-family: Arial; font-size: 12px; font-style: italic;">wong bodho,&nbsp;</span><span style="color: #333333; font-family: Arial; font-size: 12px; font-style: italic;">mung di</span><span style="color: #333333; font-family: Arial; font-size: 12px; font-style: italic;">kanggokne nalika kekurangan wae</span></span><br />
	<span >Orang bodoh hanya dibutuhkan saat kekurangan saja</span><br />
	<br />
	<span style="font-weight: bold;">- Tinggal glanggang colong playu :</span><br />
	<span style="font-style: italic;">ninggalake papan pasulayan</span><br />
	<span >Meninggalkan/menghindari tempat maksiat.</span><br />
	<br />
	<span style="font-weight: bold;">- Tulung (nulung) menthung :</span><br />
	<span style="font-style: italic;">katone nulungi jebule malah nyilakani</span><br />
	<span >Kelihatannya seolah-olah berusaha menolong, tapi nyata malah mencelakakan.</span><br />
	<br />
	<span style="font-weight: bold;">- Tumbak cucukan :</span><br />
	<span style="font-style: italic;">wong sing seneng adu-adu</span><br />
	<span >Orang yang suka menghasut/mengadu domba.</span><br />
	<br />
	<span style="font-weight: bold;">- Tuna sathak bathi sanak :</span><br />
	<span style="font-style: italic;">rugi bandha nanging bathi paseduluran</span><br />
	<span >Merugi dalam harta tapi mendapatkan saudara/sahabat.</span><br />
	<br />
	<span style="font-weight: bold;">- Tunggak jarak mrajak tunggak jati mati :</span><br />
	<span style="font-style: italic;">prakara ala ngambra-ambra, prakara becik kari sethitik</span><br />
	<span >Perkara jelek merajalela sedangkan perkara baik tinggal sedikit.</span><br />

	</div>

    <br />
    <md-divider></md-divider>
    <br />
    <div id="U">
        
    <span class="md-display-1">U</span><br />

	<br />
	<span style="font-weight: bold;">- Ucul saka kudangan :</span><br />
	<span style="font-style: italic;">luput saka gegayuhane</span><br />
	<span >Lepas dari genggaman. Maksudnya adalah sebuah kesempatan yang terlepas begitu saja.</span><br />
	<br />
	<span style="font-weight: bold;">- Ulat madhep ati manteb :</span><br />
	<span style="font-style: italic;">wis manteb banget kekarepane</span><br />
	<span >Sudah bulat tekadnya.</span><br />
	<br />
	<span style="font-weight: bold;">- Undaking pawarta, sudaning kiriman :</span><br />
	<span style="font-style: italic;">biasane pawarta iku beda karo kasunyatane</span><br />
	<span >Biasanya sebuah berita itu berbeda dari kenyataan yang terjadi.</span><br />
	<br />
	<span style="font-weight: bold;">- Ungak-ungak pager arang :</span><br />
	<span style="font-style: italic;">ngisin-isini</span><br />
	<span >Kelakuan/tindakan yang memalukan.</span><br />

	</div>

    <br />
    <md-divider></md-divider>
    <br />
    <div id="W">
        
    <span class="md-display-1">W</span><br />

	<br />
	<span style="font-weight: bold;">- Welas tanpa lalis :</span><br />
	<span style="font-style: italic;">karepe welas nanging malah gawe kapitunan</span><br />
	<span >Maksudnya ingin menolong tapi malah membuat sengsara.</span><br />
	<br />
	<span style="font-weight: bold;">- Wis kebak sundukane :</span><br />
	<span style="font-style: italic;">wis akeh banget kaluputane</span><br />
	<span >Sudah banyak sekali kesalahannya.</span><br />
	<br />
	<span style="font-weight: bold;">- Wiwit kuncung nganti gelung :</span><br />
	<span style="font-style: italic;">wiwit cilik nganti gedhe tuwa</span><br />
	<span >Dari kecil hingga dewasa.</span><br />

	</div>

    <br />
    <md-divider></md-divider>
    <br />
    <div id="Y">
        
    <span class="md-display-1">Y</span><br />

	<br />
	<span style="font-weight: bold;">- Yitna yuwana mati lena :</span><br />
	<span style="font-style: italic;">sing ngati-ati bakal slamet, sing sembrana bakal cilaka</span><br />
	<span >Yang berhati-hati akan selamat, yang gegabah akan celaka.</span><br />
	<br />
	<span style="font-weight: bold;">- Yiyidan mungging rampadan :</span><br />
	<span style="font-style: italic;">biyene wong durjana/culika saiki dadi wong sing alim</span><br />
	<span >Dulunya orang jahat/buruk kelakuannya, tapi sekarang telah menjadi orang alim/baik.</span><br />
	<br />
	<span style="font-weight: bold;">- Yuwana mati lena :</span><br />
	<span style="font-style: italic;">wong becik nemoni cilaka marga kurang ngati-ati</span><br />
	<span >Orang baik yang celaka karena kurang hati-hati.</span><br /><br />
	<span style="font-weight: bold;">- Yuyu rumpung mbarong ronge :</span><br />
	<span >omahe magrong-magrong nanging sejatine mlarat</span><br />
	<span >Memiliki rumah besar/mewah tapi sebenarnya miskin.</span></p>

	</div></div>
</div>

<script>
    

    
    // $('md-content.flex').scrollTop($('#B').height());
</script>