<div layout="column" class="md-padding saroja-content">
    <span class="md-display-1">A</span><br />
    Adas pulawaras<br />
    Adi luhung<br />
    Akal budi<br />
    Amis bacin<br />
    Amrik minging<br />
    Andhap asor<br />
    Angkat junjung<br />
    Angkara murka<br />
    Arum wangi<br />
    Asih tresna<br />
    Atut runtut<br />
    Ayem tentrem
    
    <br /><br /><md-divider></md-divider><br />
    <span class="md-display-1">B</span><br />
    
    Bapak bundhas<br />
    Bagas waras<br />
    Bakul sambewara<br />
    Bapa biyung<br />
    Bau suku<br />
    Baya pakewuh<br />
    Bayu bajra<br />
    Bibit kawit<br />
    Blaka suta<br />
    Bobot timbang<br />
    Bodho bentro<br />
    Bot repot<br />
    Brambang bawang<br />
    Brengga rowa<br />
    Budi pakarti<br />
    Bujana andrawina<br />
    Buka sakawit
    
    <br /><br /><md-divider></md-divider><br />
    <span class="md-display-1">C</span><br />
    
    Campur adhuk<br />
    Candhak cekel<br />
    Ciri wanci<br />
    Colong jupuk<br />
    Cukeng adreng<br />
    Cundhuk menthol
    
    <br /><br /><md-divider></md-divider><br />
    <span class="md-display-1">D</span><br />
    
    Dana driyah<br />
    Darma bekti<br />
    Dhawuh timbalan<br />
    Dhodhok saleh<br />
    Dlemok cung<br />
    Dlingo bengle<br />
    Duga prayoga<br />
    Duka cipta
        
    <br /><br /><md-divider></md-divider><br />
    <span class="md-display-1">E</span><br />
    
    Edi peni<br />
    Endah peni<br />
    Entek enting<br />
    Esuk sore<br />
    Ewuh aya<br />
    Ewuh pakewuh
    
    <br /><br /><md-divider></md-divider><br />
    <span class="md-display-1">G</span><br />
        
    Gada  gitik<br />
    Gagah prakosa<br />
    Galap gangsul<br />
    Gendeng ceweng<br />
    Gendhak sikara<br />
    Gepok senggol<br />
    Giris miris<br />
    Glogok sok<br />
    Gulung koming<br />
    Gendhes luwes<br />
    Ganggu damel<br />
    Gemah ripah<br />
    Gendhon rukon<br />
    Geter pater<br />
    Gethok tular<br />
    Gilir gumanti<br />
    Girang gumuyu<br />
    Gula kopi<br />
    Guna sarana<br />
    Guyup rukun<br />
    Godha rencana
    
    <br /><br /><md-divider></md-divider><br />
    <span class="md-display-1">I</span><br />
        
    Icik iwir<br />
    Iguh pratikel<br />
    Imbal pangandika
    
    <br /><br /><md-divider></md-divider><br />
    <span class="md-display-1">J</span><br />
        
    Jalma manungsa<br />
    Japa mantra<br />
    Jebat kasturi<br />
    Jejel riyel<br />
    Jiwa raga<br />
    Jugul mudha
    
    <br /><br /><md-divider></md-divider><br />
    <span class="md-display-1">K</span><br />
    
    Kadang konang<br />
    Kadhang kala<br />
    Kajen keringan<br />
    Kaku kengkeng<br />
    Kapok kawus<br />
    Kasep lalu<br />
    Kebo danu<br />
    Kedhuk rauk<br />
    Kengkeng bangkeng<br />
    Kepalu kepenthung<br />
    Kerta raharja<br />
    Kesampir kesandhung<br />
    Klasa bantal<br />
    Klembak menyan<br />
    Klobot mbako<br />
    Kokot bisu<br />
    Kongas ngambar<br />
    Kukuh bakuh
    
    <br /><br /><md-divider></md-divider><br />
    <span class="md-display-1">L</span><br />
    
    Lagak lageyan<br />
    Lalu lunges<br />
    Lara brangta<br />
    Lara lapa<br />
    Lara uyang<br />
    Lega lila<br />
    Legi angleg<br />
    Lir pendah<br />
    Loh jinawi
    
    <br /><br /><md-divider></md-divider><br />
    <span class="md-display-1">M</span><br />
    
    Malang megung<br />
    Minangsraya<br />
    Mitra darma<br />
    Mobah mosik<br />
    Mubeng minger<br />
    Mudha dama<br />
    Mudha punggung<br />
    Mlayu gendering<br />
    Mula buka<br />
    Mulang muruk<br />
    Mukti wibawa<br />
    Murub mubyar
    
    <br /><br /><md-divider></md-divider><br />
    <span class="md-display-1">N</span><br />
    
    Nanggung laras<br />
    Ngeres linu<br />
    Njungkir walik<br />
    Nenes kenes<br />
    Ngalap nyaur<br />
    Ngelu mules<br />
    Ngempit ngindhit<br />
    Nila widuri<br />
    Nistha dama<br />
    Nistha papa<br />
    Njarah rayah<br />
    Nungsang jempalik<br />
    Nunjang palang<br />
    Nurun sungging<br />
    Nyampar nyandhung
    
    <br /><br /><md-divider></md-divider><br />
    <span class="md-display-1">P</span><br />
    
    Pait getir<br />
Pacak baris<br />
Pajang punjung<br />
Pasang rakit<br />
Pasir wukir<br />
Pawing mitra<br />
Perang pupuh<br />
Piring cangkir<br />
Pondhong pikul<br />
Pringga baya<br />
Puji pandonga<br />
Puji pangestu<br />
Pokal gawe
    
    <br /><br /><md-divider></md-divider><br />
    <span class="md-display-1">R</span><br />
    
    Rahayu slamet<br />
Raket rukun<br />
Rame gumuruh<br />
Rebut dhucung<br />
Reka daya<br />
Remak rempu<br />
Rina wengi<br />
Ruda peksa<br />
Ruwet renteng
    
    <br /><br /><md-divider></md-divider><br />
    <span class="md-display-1">S</span><br />
    
    Sabar drana<br />
Sakti mandraguna<br />
Salah kaprah<br />
Salang tunjang<br />
Sambung raket<br />
Sanak kadang<br />
Sanak sadulur<br />
Sandi asma<br />
Sapa aruh<br />
Saru siku<br />
Sato kewan<br />
Sayembara pilih<br />
Sayuk rukun<br />
Seger sumyah<br />
Sembah bekti<br />
Sepi mamring<br />
Sembah sungkem<br />
Setya tuhu<br />
Sidhem premanem<br />
Sih tresna<br />
Sinuba sinukarta<br />
Sok glogok<br />
Solah bawa<br />
Solah tingkah<br />
Sotya retna<br />
Sri narendra<br />
Suba kastawa<br />
Suba sita<br />
Suka rena<br />
Sumbang surung
    
    <br /><br /><md-divider></md-divider><br />
    <span class="md-display-1">T</span><br />
    
    Tahu tempe<br />
Tambal sulam<br />
Tandanng grayang<br />
Tanem tuwuh<br />
Tangga teparo<br />
Tata tentrem<br />
Tata trapsila<br />
Tedheng aling-aling<br />
Teguh rahayu<br />
Teguh santosa<br />
Teguh rahayu<br />
Tingkah laku<br />
Tingkah solah<br />
Tukar padu<br />
Tumbar jinten<br />
Tumpang suh<br />
Tapa brata<br />
Tapak tilas<br />
Tata cara<br />
Tata karma<br />
Tepa palupi<br />
Tepa tuladha<br />
Terang truwaca<br />
Tindak tanduk<br />
Tumpang tindih<br />
Tumpung undhung<br />
Tutur sembur<br />
Tiwa mudha
    
    <br /><br /><md-divider></md-divider><br />
    <span class="md-display-1">U</span><br />
    
    Uluk salam<br />
Umyang gumuruh<br />
Undha usuk<br />
Unggah ungguh<br />
Utang kapipotang<br />
Utang selang
    
    <br /><br /><md-divider></md-divider><br />
    <span class="md-display-1">W</span><br />
    
    Wandu wandawa<br />
Wadya bala<br />
Was sumelang<br />
Wedi asih<br />
Welas asih<br />
Wiring isin<br />
Wor suh<br />
Wulang wuruk<br />
Watak wantu
</div>