<div>
    <md-list-item ng-href="#/">
       <p><ng-md-icon icon="home" style="fill:#6e6e6e;margin-right:10px;"></ng-md-icon> Home</p>
	</md-list-item>
    <md-list-item ng-href="#/materi/anak_kewan">
	   <p><ng-md-icon icon="pets" style="fill:#6e6e6e;margin-right:10px;"></ng-md-icon> Arane Anak Kewan</p>
	</md-list-item>
    <md-list-item ng-href="#materi/gamane_kewan">
	   <p><ng-md-icon icon="fitness_center" style="fill:#6e6e6e;margin-right:10px;"></ng-md-icon> Arane Gamane Kewan</p>
	</md-list-item>
    <md-list-item ng-href="#materi/swarane_kewan">
	   <p><ng-md-icon icon="hearing" style="fill:#6e6e6e;margin-right:10px;"></ng-md-icon> Arane Swarane Kewan</p>
	</md-list-item>
    <md-list-item ng-href="#materi/tingkahe_kewan">
	   <p><ng-md-icon icon="pets" style="fill:#6e6e6e;margin-right:10px;"></ng-md-icon> Arane Tingkahe Kewan</p>
	</md-list-item>
    <md-list-item ng-href="#materi/mangane_kewan">
       <p><ng-md-icon icon="local_dining" style="fill:#6e6e6e;margin-right:10px;"></ng-md-icon> Arane Mangane Kewan</p>
	</md-list-item>
    <md-list-item ng-href="#materi/rupane_kewan">
       <p><ng-md-icon icon="remove_red_eye" style="fill:#6e6e6e;margin-right:10px;"></ng-md-icon> Arane Rupane Kewan</p>
	</md-list-item>
    <md-list-item ng-href="#materi/kosok_balen">
       <p><ng-md-icon icon="compare_arrows" style="fill:#6e6e6e;margin-right:10px;"></ng-md-icon> Tembung Kosok Balen</p>
    </md-list-item>
    <md-list-item ng-href="#materi/entar">
       <p><ng-md-icon icon="text_format" style="fill:#6e6e6e;margin-right:10px;"></ng-md-icon> Tembung Entar</p>
    </md-list-item>
    <md-list-item ng-href="#materi/saroja">
       <p><ng-md-icon icon="text_format" style="fill:#6e6e6e;margin-right:10px;"></ng-md-icon> Tembung Saroja</p>
    </md-list-item>
    <md-list-item ng-href="#materi/paribasan">
       <p><ng-md-icon icon="record_voice_over" style="fill:#6e6e6e;margin-right:10px;"></ng-md-icon> Paribasan</p>
	</md-list-item>
    <md-list-item ng-href="#materi/aksara">
       <p><ng-md-icon icon="text_format" style="fill:#6e6e6e;margin-right:10px;"></ng-md-icon> Aksara Jawa</p>
	</md-list-item>
    <md-list-item ng-href="#materi/kerajaaan_satrya">
       <p><ng-md-icon icon="face" style="fill:#6e6e6e;margin-right:10px;"></ng-md-icon> Jeneng Kesatrya</p>
    </md-list-item>
    <md-list-item ng-href="#/about">
	   <p><ng-md-icon icon="person" style="fill:#6e6e6e;margin-right:10px;"></ng-md-icon> Tentang Developers</p>
	</md-list-item>
</div>